@mixin customScrollMixin(
  $size: 1rem,
  $thumb: none,
  $thumb-color: grey,
  $thumb-radius: 1rem,
  $track-color: transparent,
  $track-radius: 1rem
) {
  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    &-track {
      background-color: $track-color;
      border-radius: $track-radius;
    }
    &-thumb {
      background-color: $thumb-color;
      background-image: $thumb;
      border-radius: $thumb-radius;
    }
  }
}
